@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Cormorant+Garamond:wght@400;500&family=Courier+Prime&family=EB+Garamond:wght@500&family=Fontdiner+Swanky&family=Ibarra+Real+Nova:wght@500&family=Merriweather:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
.container{
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
   
}





.navbar{
    height: 70px;
    width: 100%;
    padding: 19px 30px;
    position: relative;
  }
  .navbar .nav-header{
    display: inline;
  }
  .navbar .nav-header .nav-logo{
    display: inline-block;
    margin-top: -7px;
    font-family: 'Babylonica', cursive;
    font-size: 3em;
  }
  .navbar .nav-links{
    display: inline;
    float: right;
    font-size: 1em;
    font-family: 'Merriweather', serif;
    color: #000;
  }
.active{
  border-bottom: 1px solid #000;
}
  .navbar .nav-links .loginBtn{
    display: inline-block;
    padding: 5px 15px;
    margin-left: 20px;
    font-size: 17px;
    color: rgb(9, 14, 90);
  }
  .navbar .nav-links a {
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
  }
  /* Hover effects */
  .navbar .nav-links a:hover{
    background-color: rgba(0, 0, 0, 0.3);
  }
   
  /* responsive navbar toggle button */
  .navbar #nav-check, .navbar .nav-btn{
    display: none;
  }
   
  @media (max-width:700px) {
    .navbar .nav-btn{
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    .navbar .nav-btn label {
      display: inline-block;
      width: 80px;
      height: 70px;
      padding: 25px;
    }
    .navbar .nav-btn label span {
      display: block;
      height: 10px;
      width: 25px;
      border-top: 3px solid #000;
    }
  
    .navbar .nav-links{
      position: absolute;
      display: block;
      text-align: center;
      width: 50%;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 20px;
      right: 0px;
    }
    .navbar .nav-links a {
      display: block;
    }
   
    /* when nav toggle button not checked */
    .navbar #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
   
    /* when nav toggle button is checked */
    .navbar #nav-check:checked ~ .nav-links {
      height: calc(100vh - 70px);
      overflow-y: auto;
    }
    .navbar .nav-links .loginBtn {
      padding: 10px 40px ;
      margin: 20px;
      font-size:  18px;
      font-weight: bold;
      color: rgb(9, 14, 90);
    }
    /* Responsive dropdown code */
    .navbar .nav-links .dropdown, .navbar .nav-links .dropdown2 {
      float: none;
      width: 100%;
    }
    .navbar .nav-links .drop-content, .navbar .nav-links .drop-content2 {
      position: relative;
      background-color: rgb(220, 220, 250);
      top: 0px;
      left: 0px;
    }
    /* Text color */
    .navbar .nav-links .drop-content a {
      color: rgb(9, 14, 90);
    }  
    .active{
      border-left: 1px solid #000;
      border-bottom:  none;
    }
   
  }
   
  /* Dropdown menu CSS code */
  .dropdown{
    position: relative;
    display: inline-block;
  }
  .drop-content, .drop-content2 {
    display: none;
    position: absolute;
    background-color: #1b4cd3;
    min-width: 120px;
    font-size: 16px;
    top: 34px;
    z-index: 1;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
  }
  /* on hover show dropdown */
  .dropdown:hover .drop-content, .dropdown2:hover .drop-content2 {
    display: block;
  }
  /* drondown links */
  .drop-content a {
    padding: 12px 10px;
    border-bottom: 1px solid rgb(197, 197, 250);
    display: block;
    transition: all 0.5s ease !important;
  }
  .dropBtn .drop-content a:hover {
    background-color: rgb(230, 230, 230);
  }
  .dropdown:hover .dropBtn, .dropdown2:hover .dropBtn2 {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .dropdown2 .drop-content2 {
    position: absolute;
    left: 120px;
    top: 126px;
  }
  .dropBtn2 i {
    margin-left: 15px;
  }


.title {
    /* border: 1px solid red; */
    padding: 3em 1em;
    max-width: 1100px;
    width: 100%;
    
}
.title h1{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 3.5em;
}
.title h1 img{
  width: 55px;
}
.explore {
    padding: 1em 0;
}
.explore a,
h3{
    font-family: 'Ibarra Real Nova', serif;
    color: #3D3D3D;
    font-size: 1.25em;
    
}
.projects {
    display: grid;
    grid-template-columns: auto auto;
    margin: 3em 0;
}
footer{
  padding: 3em 0;
  color: #A4A4A4;
  font-size: 1em;
}
footer p {
  font-family: 'Courier Prime', monospace;
}
footer h3{
    font-family: 'Ibarra Real Nova', serif;
    padding-top: 0.25em;
    font-weight: 300;
   
}
footer h3 a{
  font-size: 2em;
  font-weight: 700;
  color: #000;
  font-family: 'Babylonica', cursive;
}
footer h3 a:hover{
  border-bottom: 1px solid #000;
  color: #A4A4A4;
}
.reveal{

    transform: translateY(20px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;

}
.project{
    overflow: hidden;
    margin: 1em;
}
.project img{
    object-fit: cover;
    transition: 1s ease-in-out;
    transform-origin: center;
    
}
.projects img:hover{
    transform: scale(1.05);
    
}
.project h3{
  font-size: 1.5em;
}